h1 {
  padding: 50px;
  text-align: center;
}
.weather-app-content {
  background: radial-gradient(
    circle at 0.4% -0.6%,
    rgb(143, 170, 210) 0%,
    rgb(255, 177, 177) 90%
  );
  margin: 150px;
}

form {
  text-align: center;
}
.search-button {
  border: none;
  background: rgb(143, 170, 210);
  color: white;
  padding: 7px;
  font-weight: bold;
}

#current-city-button {
  border: none;
  color: black;
  background: rgb(143, 170, 210);
  padding: 7px;
  margin-left: 10px;
  font-weight: bold;
}
.current-temperature {
  text-align: left;
}
#degrees-fahrenheit {
  text-decoration: none;
  font-size: 20px;
}
.fahreneheit-celcius-line {
  font-size: 20px;
}
#degrees-celcius {
  text-decoration: none;
  font-size: 20px;
}
.current-day {
  text-align: left;
}
.current-time {
  text-align: left;
  font-size: 25px;
  font-weight: lighter;
}
.current-time-display {
  display: inline;
  text-align: left;
}
.current-city {
  text-align: left;
}
#current-city-display {
  font-size: 40px;
}
.current-city-main {
  font-size: 25px;
  font-weight: bold;
}
.current-temperature {
  font-size: 40px;
}
.last-updated {
  font-size: 25px;
  font-weight: lighter;
}
.current-day {
  display: inline;
  font-weight: lighter;
}
.weekday {
  font-size: 25px;
}
.temperature {
  font-size: 25px;
}
.sunny {
  color: #ffe981;
  font-size: 30px;
}
.cloudy {
  color: #606470;
  font-size: 30px;
}
.snow {
  color: #65daf7;
  font-size: 30px;
}
.thermostat {
  color: #65daf7;
  font-size: 30px;
}
footer {
  text-align: center;
  font-size: 20px;
}
